<!-- Post, Page Content
================================================== -->
<div class="article-post">
    {% if page.beforetoc %}
    <p>
        <span class="smoothscroll badge badge-primary text-capitalize">Fig:</span>
        <em>{{page.beforetoc}}</em>
    </p>
    {% endif %}
    <!-- Toc if any -->
    {% if page.toc %}
    <div class="toc mt-4 mb-4 lead">
        <h3 class="font-weight-bold">Summary</h3>
        {% include toc.html html=content %}
    </div>
    {% endif %}
    <!-- End Toc -->
    {{content}}
</div>
